root = true
[*.cs]
charset = utf-8-bom
end_of_line = lf
dotnet_diagnostic.IDE0001.severity = none
dotnet_diagnostic.IDE0002.severity = none
dotnet_diagnostic.IDE0003.severity = none
dotnet_diagnostic.IDE0004.severity = none
dotnet_diagnostic.IDE0047.severity = none
dotnet_diagnostic.IDE0055.severity = none
